<main>
    <section class="cards-hero profile-hero">
        <div class="profile-container">
            <p class="username">{{userName}}</p>
            <p class="email">{{userEmail}}</p>
            <a routerLink="/card/balance" class="my-bank-acc">Брой сметки:{{userBills}}</a>
            <a routerLink='/card/myCards' class="my-cards">Брой карти:{{userCards}}</a>
            <button class="delete-btn" (click)="showDelete()">Изтриване на профила</button>
            <button class="logout-btn" (click)="logOutHandler()">Излизане от Профила</button>
            <a class="changePass" routerLink="/auth/changePass" >Променете своята парола</a>
        </div>
    </section>
</main>
