    <!-- <div class="transfer-item">
        <p>Причина на плащането: {{transferHistory.reason}}</p>
        <p>Име: {{transferHistory.name}}</p>
        <p>Дата: {{transferHistory.Date}}</p>
        @if({{transferHistory.transferType==="incoming"}}){
        <p>Сума: <span style="color: green;">+{{transferHistory.amount}}</span> BGN</p>
        }
        @else{
        <p>Сума: <span style="color: red;"> -{{transferHistory.amount}}</span> BGN</p>
        }
        <p>IBAN: ${{transferHistory.IBAN}}</p>
    </div> -->