<main>
    <section class="create-hero cards-hero">
        <form class="create-form" [formGroup]="form">
        <label for="card-model">Модел на картата</label>
        <select name="card-model" id="card-model">
            @for(card of Models; track $index){
            <option [value]="card.model">
                {{card.model}}
              </option>
            }
        </select>

        <label for="card-type">Вид на картата</label>
        <select formControlName="cardType">
            @for(card of Types; track $index){
            <option  [value]="card.type">
              {{ card.type }}
            </option>
        }
          </select>
        
          <!-- Conditionally show the credit amount input -->
           @if(form.get('cardType')?.value==='Credit'){
          <div>
            <label class="creditAmount" for="creditAmount">Месечен Кредит:</label>
            <input type="number" formControlName="creditAmount" id="creditAmount">
          </div>
        }

        <button class="create-card-btn">Създай карта</button>
        </form>
    </section>
</main>
