
<header>
    @if(isLogged){
        <nav>
            <ul>
                <li><a class="navButtons" RouterLink="/card/balance">Моят баланс</a></li>
                <li><a class="navButtons" routerLink="/card/transfer">Превод</a></li>
                <li><a class="navButtons" routerLink="/card/myCards">Мойте карти</a></li>
                <li><a class="navButtons" routerLink="/card/bills">Сметки</a></li>
            </ul>
            <a class="navButtons" style="padding-right: 1rem;" routerLink="/auth/myAccount">Моят профил</a>
    </nav>
    }@else{<nav>
        <ul>
            <li><a class="navButtons" routerLink="/about">За нас</a></li>
            <li><a class="navButtons" routerLink="/about/partners">Нашите партньори</a></li>
            <li><a class="navButtons" routerLink="/about/contacts">Контакти</a></li>
            <li><a class="navButtons" routerLink='/auth/register'>Регистрация</a></li>
            <li><a class="navButtons" routerLink="/auth/login">Влизане</a></li>
        </ul>
        </nav>}
</header>
