<main>
    <section class="partners-hero">
        <article class="partners-article">
            <img src="/images/6d0c5212-8de8-412c-b3a2-4b344c6a3aed.webp" alt="Logo">
            <p>Всички наши партньори се стремят да ни помогнат в това да предоставим на нашите клиенти най-доброто обслужване.</p>
            <h2>СПИСЪК НА ФИНАНСОВИТЕ ИНСТИТУЦИИ, ПАРТНЬОРИ НА CANPARO BANK ЗА ОБСЛУЖВАНЕ НА ВИРТУАЛНИ ТЪРГОВЦИ</h2>
            <ul>
                <li>„Алианц Банк" АД</li>
                <li>БОРИКА Платежна институция – за бюджетни предприятия</li>
                <li>„Българо –американска кредитна банка“ АД</li>
                <li>Датекс ООД</li>
                <li>„Инвестбанк“ АД</li>
                <li>„Интернешънъл Асет Банк“ АД</li>
                <li>„Обединена българска Банка" АД</li>
                <li>„Общинска Банка" АД</li>
                <li>„ПроКредит Банк България" ЕАД</li>
                <li>„Тексим Банк" АД</li>
                <li>„Транскарт Файненшъл Сървисиз" ЕАД</li>
                <li>„Уникредит Булбанк" АД</li>
                <li>„Централна Кооперативна банка" АД</li>
                <li>„Юробанк България“ АД</li>
            </ul>
        </article>
    </section>
</main>
