<main>
    <section class="cards-hero update-hero">
        <form class="update-form" action="" method="POST">

            <label for="old-password">Парола:</label>
            <input type="password" id="old-password" name="old-password">

            <label for="new-password">Нова парола:</label>
            <input type="password" id="new-password" name="new-password">

            <label for="confirm-new-password">Потвърди нова парола:</label>
            <input type="password" id="confirm-new-password" name="confirm-new-password">

            <button type="submit">Промени</button>
        </form>
    </section>
</main>
