<main>
    @if(errorMessage){
        <app-err [errorMessage]="errorMessage"></app-err>
    }
    <section class="cards-hero update-hero">
        <form class="update-form" #changePassForm="ngForm" (ngSubmit)="changeHandler()">

            <label for="old-password">Парола:</label>
            <input type="password" id="old-password" name="oldPassword" ngModel #oldPassInput="ngModel">

            <label for="new-password">Нова парола:</label>
            <input type="password" id="new-password" name="newPassword" ngModel #newPassInput="ngModel">

            <label for="confirm-new-password">Потвърди нова парола:</label>
            <input type="password" id="confirm-new-password" name="confirmNewPassword" ngModel #cofirmNewPassInput="ngModel">

            <button>Промени</button>
        </form>
    </section>
</main>
