<main>
    <section class="contacts-hero">
        <article class="contact">
            <div>
            <h2>Работно време на контактен център:</h2>
            <div class="hours">
            <p class="working-hours">00:00 - 24:00</p>
            <p class="working-days">понеделник - неделя</p>
            </div>
            </div>
            <div>
            <h2>Работно време на администрацията:</h2>
            <div class="hours">
            <p class="working-hours">10:00 - 19:00</p>
            <p class="working-days">понеделник - петък</p>
            </div>
            </div>
            <div class="phone-contact">
                <h2>Контакти:</h2>
                <p>+ 359 87 872 03 18</p>
                <a href="mailto:preslav.geshev@gmail.com">preslav.geshev&#64;gmail.com</a>
            </div>
            <div class="address">
                <h2>Адрес:</h2>
                <p>Враца, ул. Генерал Леонов 5А, ПК:3000</p>
            </div>
        </article>

        <article class="email-contact">
            <form class="email-form" #contactForm="ngForm" (ngSubmit)="contactHandler()">
                <div class="email-input-container">
                <input placeholder="Имейл адрес" type="text" id="email" name="email" ngModel #email="ngModel">

                <input placeholder="Заглавие" type="text" id="theme" name="theme" ngModel #theme="ngModel">
                </div>
                <textarea  placeholder="Съобщение" name="content" id="content" ngModel #content="ngModel" cols="20" rows="10"></textarea>

                <button type="submit">Изпрати имейл</button>
            </form>
        </article>
    </section>
</main>
