<main>
    <section class="bills-hero cards-hero">
        <div class="bills-container">
            <form method="GET">
                <label for="account-options">ИЗБЕРЕТЕ ВАШАТА СМЕТКА</label>
                <select name="account-options" style="width: 17rem;" id="account-options" [(ngModel)]="selectedAccount" (change)="onAccountChange()">
                  @for(account of accounts; track $index){
                  <option [value]="account.IBAN">
                    {{ account.billName }};{{ account.IBAN }};лв {{account.balance}}
                  </option>
                }
                </select>
              </form>
            <a class="register-bill" routerLink="/card/createBill">Регистрирайте сметка</a>
            <div class="bills-list">
                @for(bill of bills; track $index){
                <div class="bill">
                    <span>Име на сметката: <span class="bill-type">{{bill.reason}}</span></span>
                    <span>Дата за плащане:<span class="bill-date">{{ bill.nextExecution | date: 'dd/MM/yy' }}</span></span>
                    <a (click)="deleteBillHandler(bill._id)" class="delete-bill">Заличи сметката</a>
                </div>
            }
            </div>
        </div>
    </section>
</main>
