<main>
    <section class="create-hero cards-hero">
        <form class="create-form create-bill-form" method="POST">
            <label for="account-options">ИЗБЕРЕТЕ ВАШАТА СМЕТКА</label>
                <select name="account-options" class="account-options" id="account-options">
                    <option *ngFor="let account of accounts" [value]="account.iban">
                        {{ account.name }}; {{ account.iban }}; {{ account.balance }}
                      </option>
                </select>
        <label for="reciever">Име на получател:</label>
            <input type="text" name="reciever" id="reciever">

            <label for="reciever-Iban">IBAN:</label>
            <input type="text" name="Iban" id="reciever-Iban">

            <label for="amount">Сума:</label>
                <input type="number" name="amount" id="amount" >

            <label for="reason">Основание на сметката:</label>
            <input type="text" name="reason" id="reason" >

            <label for="more">Още пояснения:</label>
            <input type="text" name="more" id="more" >

        <button class="create-bill-btn">Създай Сметка</button>
        </form>
    </section>
</main>
