.about-hero{
    padding-bottom: 60px;
    padding-top: 28px;
    background: url("/images/DALL·E\ 2024-10-31\ 00.33.37\ -\ Website\ page\ design\ for\ Canparo\ Bank\'s\ \'About\ Us\'\ section\,\ styled\ to\ match\ a\ modern\,\ professional\ banking\ website.\ The\ layout\ includes\ a\ header\ with\ t\ \(1\).webp") 
    repeat center center;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.about-hero article{
    background-color: orange;
    border: white solid 4px;
    max-width: 30%;

    width: 300px;
    padding: 0.5rem;
    height: 540px;
}
.about-hero img{
    height: 12rem;
    max-height: 12rem;
    max-width: -webkit-fill-available;
}
.about-hero article a{
    padding-top: 15px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: green;
}
.benefits img{
    width: -webkit-fill-available;
    height: 17rem;
}
.benefits .benefit-list{
    padding-left: 0.5rem;
}
.company-history{
    background-color: orange;
    border: white solid 4px;
    max-width: 30%;
}
.company-history img{
    width: -webkit-fill-available;
    height: 17rem;
}