<main>
    <section class="register-hero">
        <form class="register-form" action="" method="POST">
            <label for="first-name">Първо име:</label>
            <input type="text" id="First-name" name="firstName">

            <label for="last-name">Последно име:</label>
            <input type="text" id="Last-name" name="lastName">

            <label for="email">Имейл адрес:</label>
            <input type="text" id="email" name="email">

            <label for="password">Парола:</label>
            <input type="password" id="password" name="password">

            <label for="confirm-password">Потвърди парола:</label>
            <input type="password" id="confirm-password" name="rePassword">

            <button type="submit">Регистрирай</button>
        <p class="signIn">Вече имате профил <a href="/auth/login">Регистрирайте се тук</a></p>
        </form>
    </section>
</main>
