<main>
    <section class="about-hero">
        <article class="intro">
            <img src="images/fullsizeoutput_1134f.jpeg" alt="Welcome image">
            <h2>Canparo Bank – партньор за всяка финансова стъпка към по-добро бъдеще.</h2>
            <p>Нашата мисия е да подпомагаме нашите клиенти във всеки етап от живота им – от спестявания и инвестиции до кредитни продукти и персонално финансово консултиране.</p>
        </article>

        <article class="benefits">
            <img src="/images/2.jpg" alt="Benefits image">
            <h2>Защо да избере Canparo Bank.</h2>
            <ul class="benefit-list">
                <li>Максимална сигурност на вашите средства.</li>
                <li>Бързо и лесно оналйн банкиране.</li>
                <li>Ниски комисионни такси.</li>
                <li>24 часова връзка с нас.</li>
            </ul>
        </article>

        <article class="team">
            <img src="images/ban-our-team-webster-reid-advisory-team.jpeg" alt="Team image">
            <h2>Вложете вашето доверие в нашия екип.</h2>
            <p>Нашият екип в Canparo Bank се стреми всичките ни клиенти да получват най-добторо обслужване и сигурност.</p>
        </article>

        <article class="company-history">
            <img src="images/Bank_of_Louisville_Building,_322_West_Main_Street,_Louisville_(Jefferson_County,_Kentucky).jpg" alt="History image">
            <h2>Нашата история.</h2>
            <p>Canparo Bank е създадена с мисията да предложи модерни и надеждни финансови решения за съвременния потребител. През годините изградихме доверие чрез иновации, сигурност и персонализирано обслужване. Днес продължаваме да развиваме услугите си, за да улесним управлението на финансите за всеки клиент.</p>
        </article>

        <article class="partners">
            <img src="/images/MicrosoftTeams-image-52-1-624x415.png" alt="History image">
            <h2>Нашите партньори.</h2>
            <p>Нашите партньори са водещи компании и организации, които споделят нашата визия за иновации и надеждност. Благодарение на сътрудничеството ни с тях, Canparo Bank може да предложи още по-качествени и разнообразни услуги на своите клиенти.</p>
            <a routerLink="/about/partners">Повече за нашите партньори.</a>
        </article>

        <article class="our-contacts">
            <img src="/images/images (1).jpeg" alt="History image">
            <h2>Връзка с нас</h2>
            <p>Canparo Bank цени обратната връзка с нашите клиенти затова ви предоставяме 24 часова връзка с нас служител. Имате опцията да се свържете с нас чрез имейл и телефон</p>
            <a routerLink="/about/contacts">Връзка с нас</a>
        </article>

    </section>
</main>
