<main>
    <section class="cards-hero">
        <div class="card-container">
            <form method="GET">
                <label for="account-options">ИЗБЕРЕТЕ ВАШАТА СМЕТКА</label>
                <select name="account-options" style="width: 17rem;" id="account-options" [(ngModel)]="selectedAccount" (change)="onAccountChange()">
                  @for(account of accounts; track $index){
                  <option [value]="account.IBAN">
                    {{ account.billName }}; {{ account.IBAN }}; лв {{ account.balance }}
                  </option>
                }
                </select>
              </form>
        <div class="cards-list">
        @for(card of cards; track $index){
        <a class="card" routerLink="/card/{{card._id}}/details">
        <img *ngIf="card.model==='Visa'" src="/images/DALL·E 2024-11-02 21.01.59 - A realistic image of a Visa debit card issued by Canparo Bank. The card has a sleek and modern design with a metallic orange and white color scheme. I.webp" alt="Visa Card">
        <img *ngIf="card.model==='MasterCard'" src="/images/DALL·E 2024-11-02 21.02.31 - A realistic image of a Mastercard issued by Canparo Bank. The card has a sleek and modern design with a metallic blue and white color scheme. It featu.webp" alt="Mastercard Card">
        <span><span class="card-model">{{card.model}}</span> <span class="card-type">{{card.type}}</span></span>
        <p class="card-date">{{card.expireDate}}</p>
        <p class="card-number">{{card.cardNumber}}</p>
        <p class="card-status active">Aктивна</p>
        </a>
    }
        </div>
        <a routerLink="/card/create" class="create-card">Създадете нова карта</a>
        </div>
    </section>
</main>
