<main>
    <section class="cards-hero">
        <div class="card-container">
        <div class="cards-list">
        <a class="card" routerLink="/card/1/details">
        <img src="/images/DALL·E 2024-11-02 21.01.59 - A realistic image of a Visa debit card issued by Canparo Bank. The card has a sleek and modern design with a metallic orange and white color scheme. I.webp" alt="Visa Card">
        <span><span class="card-model">Visa</span> <span class="card-type">Debit</span></span>
        <p class="card-date">08/29</p>
        <p class="card-number">842576*****6935</p>
        <p class="card-status active">Aктивна</p>
        </a>
        <a class="card" routerLink="/card/2/details">
        <img src="/images/DALL·E 2024-11-02 21.01.59 - A realistic image of a Visa debit card issued by Canparo Bank. The card has a sleek and modern design with a metallic orange and white color scheme. I.webp" alt="Visa Card">
        <span><span class="card-model">Visa</span> <span class="card-type">Debit</span></span>
        <p class="card-date">08/29</p>
        <p class="card-number">842576*****6935</p>
        <p class="card-status deactivated">Деактивирана</p>
        </a>

        <a class="card" routerLink="/card/3/details">
        <img src="/images/DALL·E 2024-11-02 21.01.59 - A realistic image of a Visa debit card issued by Canparo Bank. The card has a sleek and modern design with a metallic orange and white color scheme. I.webp" alt="Visa Card">
        <span><span class="card-model">Visa</span> <span class="card-type">Debit</span></span>
        <p class="card-date">08/29</p>
        <p class="card-number">842576*****6935</p>
        <p class="card-status active">Aктивна</p>
        </a>

        <a class="card" routerLink="/card/4/details">
        <img src="/images/DALL·E 2024-11-02 21.02.31 - A realistic image of a Mastercard issued by Canparo Bank. The card has a sleek and modern design with a metallic blue and white color scheme. It featu.webp" alt="Mastercard Card">
        <span><span class="card-model">Mastercard</span> <span class="card-type">Credit</span></span>
        <p class="card-date">02/29</p>
        <p class="card-number">842576*****6935</p>
        <p class="card-status active">Aктивна</p>
        </a>
        </div>
        <a routerLink="/card/create" class="create-card">Създадете нова карта</a>
        </div>
    </section>
</main>
