<main>
    <section class="slides">
    <ul>
    <li class="slide-card">
        <section class="credit-card">
        <div class="card-info">
            <h2>Сигурност през цялото време с Canparo Bank.</h2>
            <p>Способност за теглене на кредити по всяко време.</p>
            <a class="crd-btn" routerLink="/card/create">Направи заявка</a>
        </div>
    </section></li>
    <li class="slide-card">
    <section class="bill-card">
        <div class="card-info">
            <h2>Следете сметките си от дома по всяко време.</h2>
            <p>Способност да плащаще сметките си от всякъде.</p>
            <a class="crd-btn" routerLink="/card/bills">Вашите сметки</a>
        </div>
    </section>
</li>
<li class="slide-card">
    <section class="about-card">
        <div class="card-info">
            <h2>Опознай Canparo Bank.</h2>
            <p>Отктриите повече за нас и нашите цели.</p>
            <a class="crd-btn" routerLink="/about">Повече за нас.</a>
        </div>
    </section>
</li>
    </ul>
    </section>
</main>
