
<main>
    @if(errorMessage){
    <app-err [errorMessage]="errorMessage"></app-err>
    }
    <section class="login-hero">
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="loginHandler()" >
            <label for="email">Имейл адрес:</label>
            <input type="text" id="email" name="email" ngModel #emailInput="ngModel">

            <label for="password">Парола:</label>
            <input type="password" id="password" name="password" ngModel #passwordInput="ngModel">

            <button >Влизане</button>
        <p class="signup">Нямаш профил? <a routerLink="/auth/register">Регистрирай се тук</a></p>
        </form>
    </section>
</main>
