<main>
    <section class="login-hero">
        <form class="login-form" action="" method="POST">
            <label for="Email">Имейл адрес:</label>
            <input type="text" id="email" name="email">

            <label for="Password">Парола:</label>
            <input type="password" id="password" name="password">

            <button type="submit">Влизане</button>
        <p class="signup">Нямаш профил? <a routerLink="/auth/register">Регистрирай се тук</a></p>
        </form>
    </section>
</main>
